doctype
html(lang="en")
    head
        meta(charset="utf-8")
        title Scaffolds
        link(href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet")

    body
        #header-region

        #main-region.container
            p Static content here.

        #dialog-region